.body-container{
    width: 80%;
    margin: 2% 0% 2% 0%;
    background-color: rgba(202, 202, 202, 0.363);
    border-radius: 10px;
    padding: 1% 0px 1% 0px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: 0.2s;
}
.body-container:hover{
    background-color: rgba(136, 159, 233, 0.363);
    box-shadow: 0px 0px 20px 3px rgba(75, 75, 223, 0.582);
    cursor: pointer;
}
.body-container:hover .image-container {
    background-size: 130%;
  }

.image-container {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    overflow: hidden;
    background-size: 110%; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.192); 
  }
  

.image-container:hover {
    background-size: 130%;
  }
.description{
    width: 70%;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.review-mark{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(247, 225, 102);
    box-shadow: 0px 0px 20px 2px rgba(247, 225, 102, 0.582);
    border-radius: 100%;
    text-align: center;
}
.header-content-container{
    display: flex;
    flex-direction: row;
    font-style: italic;
    color: #474747;
}
.header-content-container>p{
    display: flex;
    flex-direction: row;
    margin: 0px 2px 0px 2px;
}
.header h2{
    text-align: start;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 32px;
}
.dsc{
    text-align: start;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: fit-content;
    background-color: rgb(224, 195, 63);
    color: black;
    font-size: 16px;
    transition: 0.2s;
    padding: 1%;
    border: none;
    border-radius: 5px;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(123, 194, 56);
}
.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.icons{
    color: white;
    margin: 0px 5px 0px 0px;
    font-size: 22px;
}